<%= form_for(@pilot) do |f| %>
  <% if @pilot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pilot.errors.count, "error") %> prohibited this pilot from being saved:</h2>

      <ul>
      <% @pilot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :identificacion %><br>
    <%= f.text_field :identificacion %>
  </div>
  <div>
 <%= f.label :routes %>
<%= f.collection_check_boxes :route_ids, Route.all, :id, :vuelo %>
</div>
   
<div>
  <%= f.label :airplane_id, "Avion" %>
  <%=f.select :airplane_id, Airplane.all.collect {|u| [u.nombre, u.id]} %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
