<p id="notice"><%= notice %></p>

<h1>Listing Pilots</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Identificacion</th>
      <th>Route</th>
      <th>Cod avion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pilots.each do |pilot| %>
      <tr>
        <td><%= pilot.nombre %></td>
        <td><%= pilot.identificacion %></td>
       
        <td><%= pilot.cod_avion_id %></td>
        <td><%= link_to 'Show', pilot %></td>
        <td><%= link_to 'Edit', edit_pilot_path(pilot) %></td>
        <td><%= link_to 'Destroy', pilot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<ul>
<li><%= link_to 'New Pilot', new_pilot_path %></li>
<li><%= link_to 'Mirar los horarios de Viaje', schedules_path %></li>
</ul>