<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre:</strong>
  <%= @pilot.nombre %>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @pilot.identificacion %>
</p>


<p>
  <strong>Cod avion:</strong>
  <%= @pilot.airplane_id %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>
