<p id="notice"><%= notice %></p>

<h1>Listado de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Identificacio</th>
      <th>Apartment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
        <td><%= user.identificacio %></td>
        <td><%= user.apartment_id %></td>
       
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path %>
