
<div class="panel panel-default">
<h1> Clinica Buena vida</h1>
<h2>Registro de Pacientes</h2>

<p><%= link_to 'Registrar niños', new_kid_path %></p>
<p><%= link_to ' Listado de niños', kids_path %></p>
<p><%= link_to 'Registrar Mujeres', new_woman_path %></p>
<p><%= link_to ' Listado de Mujeres', women_path %></p>
<p><%= link_to 'Registrar Hombres', new_man_path %></p>
<p><%= link_to ' Listado de Hombres', men_path %></p>

</div>