<h1>Registro de Mujeres</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Estado</th>
      <th>Hijos</th>
      <th>Fecha de nacimiento</th>
      <th>Cancer de mamas</th>
      <th>Numero de embarazos</th>
      <th>Abortos</th>
      <th>hipertension</th>
      <th>diabetis</th>
      <th>Alzheimer</th>
      <th>grupo sanguineo</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @informacion.each do |elemento| %>

      <tr>
        <td><%= elemento.nombres%></td>
        <td><%= elemento.apellidos %></td>
        <td><%= elemento.documento %></td>      
        <td><%= elemento.estado %></td>
        <td><%= elemento.hijos %></td>
        <td><%= elemento.fecha %></td>
        <td><%= elemento.cancer %></td>
        <td><%= elemento.embarazo %></td>
        <td><%= elemento.abortos %></td>
        <td><%= elemento.hipertension %></td>
        <td><%= elemento.diabetis %></td>
        <td><%= elemento.alzheimer %></td>
        <td><%= elemento.grupo %></td>
        <td><%= elemento.edad%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Registrar mujeres', new_woman_path %>

