<h1>Editar  torrre</h1>

<%= form_for @tower do |f| %>
  <p>
    <%= f.label :name, "Nombre torre" %>
   </p>
  <p>  <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :doorman %>
   </p>
  <p>  <%= f.text_field :doorman%>
  </p>

  
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Atras', towers_path %>