<h1>Registro de Hombres</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Edad</th>
      <th>hijos</th>
      <th>Fecha de nacimiento</th>
      <th>Estado</th>
      <th>Vacunas</th>
      <th>hipertension</th>
      <th>diabetis</th>
      <th>alzheimer</th>
      <th>grupo sanguineo</th>
      <th>cancer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @informacion.each do |elemento| %>

      <tr>
        <td><%= elemento.nombres %></td>
        <td><%= elemento.apellidos %></td>
        <td><%= elemento.documento %></td>      
        <td><%= elemento.edad %></td>
        <td><%= elemento.hijos %></td>
        <td><%= elemento.fecha %></td>
        <td><%= elemento.estado%></td>
        <td><%= elemento.hipertension %></td>
        <td><%= elemento.diabetis %></td>
        <td><%= elemento.alzheimer %></td>
        <td><%= elemento.grupo %></td>
        <td><%= elemento.cancer%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Registrar hombres', new_man_path %>

