<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ciudad_origen %><br>
    <%= f.text_field :ciudad_origen %>
  </div>
  <div class="field">
    <%= f.label :ciudad_destino %><br>
    <%= f.text_field :ciudad_destino %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :cod_avion %><br>
    <%= f.number_field :cod_avion %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
