<h1>Registro de niños</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
     
      <th>Apellido</th>
      <th>segundo apellido</th>
      <th>Ti / Registro</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Fecha de nacimiento</th>
      <th>Nombre madre</th>
      <th>Nombre padre</th>
      <th>Vacunas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @informacion.each do |elemento| %>

      <tr>
        <td><%= elemento.nombre%></td>
        
        <td><%= elemento.apellidos %></td>
       
       
        <td><%= elemento.edad %></td>
        <td><%= elemento.sexo %></td>
        <td><%= elemento.fecha %></td>
        <td><%= elemento.nombremadre %></td>
        <td><%= elemento.nombrepadre %></td>
        <td><%= elemento.vacunas %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Registrar niños', new_kid_path %>